In [16]:
import os
import pyodbc
import pandas as pd
import numpy as np
import shutil

In [17]:
#server = 'tcp:sqlserverprod'
server='BO105'
#database = 'Reporting'
database='test_db'
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes;')
cursor = conn.cursor()

In [18]:
#UnProcessedPath = os.path.join('C:', os.sep, 'FilePath','UnProcessed')
#ProcessedPath = os.path.join('C:', os.sep, 'FilePath','Processed')
UnProcessedPath = os.path.join('E:', os.sep, 'UnProcessed')
ProcessedPath = os.path.join('E:', os.sep, 'Processed')

In [19]:
with os.scandir(UnProcessedPath) as files:
    for file in files:
        if file.is_file():
            xlsfile=file.name

In [20]:
unprocessedfilepath = os.path.join(UnProcessedPath, xlsfile)
processedfilepath = os.path.join(ProcessedPath, xlsfile)
unprocessedfilepath

'E:\\UnProcessed\\Power query13  to 19 Jan 2020.xlsx'

In [21]:
df_xlsx = pd.read_excel(unprocessedfilepath)
cleandf = df_xlsx.dropna(how='all')
cleandf.dtypes

First five         object
No space           object
Correct unit#      object
Truck Status       object
Division           object
Truck Class        object
Truck ID          float64
Post_Date          object
Invoice_Date      float64
Source             object
Read_Type          object
PrePass_Id        float64
EZPassId_Plate     object
Truck_Id           object
Agency             object
Entry_Plaza        object
Entry_Date        float64
Exit_Plaza         object
Exit_Date          object
Class             float64
Miles             float64
Toll_Charge       float64
dtype: object

In [22]:
non_nan_df = cleandf.replace(np.nan,'',regex=True)
non_nan_df.dtypes

First five         object
No space           object
Correct unit#      object
Truck Status       object
Division           object
Truck Class        object
Truck ID           object
Post_Date          object
Invoice_Date       object
Source             object
Read_Type          object
PrePass_Id        float64
EZPassId_Plate     object
Truck_Id           object
Agency             object
Entry_Plaza        object
Entry_Date         object
Exit_Plaza         object
Exit_Date          object
Class             float64
Miles              object
Toll_Charge       float64
dtype: object

In [26]:
non_nan_df['Truck ID'] = pd.to_numeric(non_nan_df['Truck ID'])
non_nan_df['PrePass_Id'] = pd.to_numeric(non_nan_df['PrePass_Id'])
#non_nan_df.astype({'Truck ID':'int32'}).dtypes
#non_nan_df['PrePass_Id']=non_nan_df['PrePass_Id'].astype(str)
non_nan_df.dtypes
#non_nan_df.info()
#non_nan_df.to_excel(ProcessedPath+os.sep+'test.xlsx', index=False)

#non_nan_df['Truck ID']=non_nan_df.astype({'Truck ID':'int32'}).dtypes
#non_nan_df['Invoice_Date']=non_nan_df['Invoice_Date'].astype(str)
#non_nan_df['Entry_Date']=non_nan_df['Entry_Date'].astype(str)
#non_nan_df['Class']=non_nan_df['Class'].astype(str)
#non_nan_df['Miles']=non_nan_df['Miles'].astype(str)
#non_nan_df['Toll_Charge']=non_nan_df['Toll_Charge'].astype(str)
#non_nan_df.to_excel(ProcessedPath+os.sep+'test.xlsx', index=False)

First five         object
No space           object
Correct unit#      object
Truck Status       object
Division           object
Truck Class        object
Truck ID          float64
Post_Date          object
Invoice_Date       object
Source             object
Read_Type          object
PrePass_Id        float64
EZPassId_Plate     object
Truck_Id           object
Agency             object
Entry_Plaza        object
Entry_Date         object
Exit_Plaza         object
Exit_Date          object
Class             float64
Miles              object
Toll_Charge       float64
dtype: object

In [25]:
test_df=pd.read_excel(ProcessedPath+os.sep+'test.xlsx')
test_df.dtypes

First five         object
No space           object
Correct unit#      object
Truck Status       object
Division           object
Truck Class        object
Truck ID          float64
Post_Date          object
Invoice_Date      float64
Source             object
Read_Type          object
PrePass_Id          int64
EZPassId_Plate     object
Truck_Id           object
Agency             object
Entry_Plaza        object
Entry_Date        float64
Exit_Plaza         object
Exit_Date          object
Class               int64
Miles             float64
Toll_Charge       float64
dtype: object

In [15]:
for index, row in non_nan_df.iterrows():
    cursor.execute("INSERT INTO [dbo].[TexasToll]([First five],[No space],[Correct unit#],[Truck Status],[Division],[Truck Class],[Truck ID],[Post_Date],[Invoice_Date],[Source],[Read_Type],[PrePass_Id],[EZPassId_Plate],[Truck_Id],[Agency],[Entry_Plaza],[Entry_Date],[Exit_Plaza],[Exit_Date],[Class],[Miles],[Toll_Charge]) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", row['First five'], row['No space'], row['Correct unit#'], row['Truck Status'], row['Division'], row['Truck Class'], row['Truck ID'], row['Post_Date'], row['Invoice_Date'], row['Source'], row['Read_Type'], row['PrePass_Id'], row['EZPassId_Plate'], row['Truck_Id'], row['Agency'], row['Entry_Plaza'], row['Entry_Date'], row['Exit_Plaza'], row['Exit_Date'], row['Class'], row['Miles'], row['Toll_Charge'])

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 10 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

In [ ]:
non_nan_df.to_excel(ProcessedPath+ os.sep+'test.xlsx', index=False)

In [10]:
#conn.commit()
#cursor.close()
#conn.close()

In [11]:
#shutil.move(unprocessedfilepath, processedfilepath)